<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Add Item</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="../bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="../bower_components/skeleton/css/item-detail.css">
</head>

<body>
  <section id="item-detail" class="row">
    <div class="twelve columns">
      <h1>Add Item</h1>
    </div>

    <div class="one-eighth column">
      <img style="width: 100%; height: 100%;" src="../bower_components/skeleton/images/placeholder-square.jpg" alt="Item Picture">
    </div>

    <div class="one-third column">
      <table class="table detail">
        <col width="125px">
        <tr>
            <td>Metal</td>
            <td>
              <select style ="width:120px;">
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
                <option value="Silver">Silver</option>
              </select>
            </td>
        <tr>
            <td>Type</td>
            <td>
              <select style ="width:120px;">
                <option value="US Eagle">US Eagle</option>
              </select>
            </td>
        </tr>
        <tr>
            <td>Purchase Date</td>
            <td>
              <select style ="width:120px;">
                <option value="US Eagle">US Eagle</option>
              </select>
            </td>            
        </tr>
        <tr>
            <td>Qty.</td>
            <td>
              <input type="text" name="quantity">
            </td>
        </tr>
        <tr>
            <td>Premium</td>
            <td>
              <input type="text" name="premium">
            </td>
        </tr>
        <tr>
            <td>Unit Price</td>
            <td>
              <input type="text" name="unitprice">
            </td>
        </tr>
        <tr>
            <td>Gold %</td>
            <td>
              <input type="text" name="gold">
            </td>
        </tr>
        <tr>
            <td>Weight/unit (g)</td>
            <td>
              <input type="text" name="weightgold">
            </td>
        </tr>
        <tr>
            <td>Gold g/u</td>
            <td>
              <input type="text" name="goldgu">
            </td>
        </tr>
        <tr>
            <td>Gold ozt/u</td>
            <td>
              <input type="text" name="goldozt">
            </td>
        </tr>
        <tr>
            <td>Total au (ozt)</td>
            <td>
              <input type="text" name="totalau">
            </td>
        </tr>
        <tr>
            <td><b>TOTAL</b></td>
            <td>
              <input type="text" name="total">
            </td>
        </tr>
      </table>
    </div>
  </section>
</body>