<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
	<link rel="stylesheet" href="../bower_components/Bootflat/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bower_components/Bootflat/bootflat/css/bootflat.css">
<!--
	<script src="../../bower_components/zingchart/client/zingchart.min.js"></script> -->

</head>


<body>
	<header>
		<nav class="navbar navbar-default">
			<i class="glyphicon glyphicon-refresh"></i>
			<i class="glyphicon glyphicon-cog pull-right"></i>

		</nav>
	</header>

	<div class="container">
		<h1>Hello</h1>
		<button class="btn btn-primary"> Press Me</button>
	</div>

	<footer>
		<p>Copyright 2009 Your name</p>
	</footer>

</body>

</html>
