<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Bull's Hit</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../bower_components/skeleton/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="../bower_components/skeleton/css/jy_custom_splash.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/style/main.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="../bower_components/skeleton/images/favicon.png">

</head>
<body>

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <nav id="navbar">
    </nav>

    <section id="splash-content" class="">
        <div class="offset-by-two four columns">
            <h4><strong>Bull's Hit In The Market</strong></h4>
            <p>Bullion, that is. Manage your Bull's Hit with one simple app.</p>

            <a id="signup" class="button button-primary u-full-width" href="wire3.html">Sign Up</a>
            <a id="login" class="button u-full-width" href="wire3.html">Log In</a>
        </div>
        <div class="six columns" style="">
            <img src="../bower_components/skeleton/images/mobile_splash.png" alt="mobilescreen" height="400" >
        </div>
    </section>

    <footer>
        <p id="footer-text"> &copy; 2015 cacheIT </p>
    </footer>


    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
