<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Item Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="../bower_components/skeleton/css/normalize.css">
    <link rel="stylesheet" href="../bower_components/skeleton/css/item-detail.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/style/main.css">
</head>

<body>
    <!-- navbar -->
    <nav id="navbar">
        <ul>
            <li class=""><a href="#" class="fa fa-refresh navbar-padding"></a></li>
            <li class=""><a href="#" >MyStackAPP</a></li>
            <li class="pull-right"><a href="#" class="fa fa-cog navbar-padding"></a></li>
        </ul>
    </nav>
    <!-- /#navbar -->

    <!-- sidebar -->
    <div id="sidebar">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fa-home sidebar-icon row"></span><br>
                    <small>Home</small>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-icon">Au</span><br>
                    <small>My Gold</small>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-icon">Ag</span><br>
                    <small>My Silver</small>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-icon">Pt</span><br>
                    <small>My Platinum</small>
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar -->

    <!-- page-content -->
    <section id="page-content" class="container">
        <div class="twelve columns">
            <h1>Item Detail</h1>
        </div>

        <div class="one-eighth column">
            <img style="width: 100%; height: 100%;" src="../bower_components/skeleton/images/placeholder-square.jpg" alt="Item Picture">
        </div>

        <div class="one-third column">
            <table class="table detail">
                <tr>
                    <td>Metal</td>
                    <td>Gold</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>US Eagle</td>
                </tr>
                <tr>
                    <td>Purchase Date</td>
                    <td>04 March 2015</td>
                </tr>
                <tr>
                    <td>Qty.</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Premium</td>
                    <td>47.00</td>
                </tr>
                <tr>
                    <td>Unit Price</td>
                    <td>1250.60</td>
                </tr>
                <tr>
                    <td>Gold %</td>
                    <td>0.917</td>
                </tr>
                <tr>
                    <td>Weight/unit (g)</td>
                    <td>1.244</td>
                </tr>
                <tr>
                    <td>Gold g/u</td>
                    <td>1.244</td>
                </tr>
                <tr>
                    <td>Gold ozt/u</td>
                    <td>0.0400</td>
                </tr>
                <tr>
                    <td>Total au (ozt)</td>
                    <td>0.0400</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b></td>
                    <td>1199.10</td>
                </tr>
            </table>
        </div>
    </section>
</body>
