<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Item Detail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="../bower_components/skeleton/css/normalize.css">
</head>

<body>
  <section id="item-detail" class="row">
    <div class="twelve columns">
      <h1>Item Detail</h1>
    </div>

    <div class="one-eighth column">
      <img width="100%" height="100%" src="../bower_components/skeleton/images/placeholder-square.jpg">
    </div>

    <div class="two columns">
      <ul class="ul detail">
        <li>Metal</li>
        <li>Type</li>
        <li>Purchase Date</li>
        <li>Qty.</li>
        <li>Premium</li>
        <li>Unit Price</li>
        <li>Gold %</li>
        <li>Weight/unit (g)</li>
        <li>Gold g/u</li>
        <li>Gold ozt/u</li>
        <li>Total Au (ozt)</li>
        <li>Total</li>
      </ul>
    </div>
    <div class="two columns">
      <ul class="ul detail">
        <li>Gold</li>
        <li>US Eagle</li>
        <li>04 March 2015</li>
        <li>1</li>
        <li>47.00</li>
        <li>1250.60</li>
        <li>0.999</li>
        <li>1.244</li>
        <li>1.244</li>
        <li>0.0400</li>
        <li>0.0400</li>
        <li>1199.19</li>
      </ul>
    </div>
  </section>
</body>