<!DOCTYPE html>
<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

   <link rel="stylesheet" href="../bower_components/skeleton/css/normalize.css">
   <link rel="stylesheet" href="../bower_components/skeleton/css/skeleton.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../assets/style/wire3.css">
   <script src="../assets/script/wire3.js"></script>
   <script src="http://cdn.zingchart.com/zingchart.min.js"></script>

</head>

<body>
   <!--<h1>Wire Frame 2</h1>-->
   <section id="coin-info" class="row coin-section">
      <div class="five columns">
         <div id="box-info" class="row bg">
            <h5 class="no-btm-margin">$24,495.23
               <small class="value-small">+3.5%</small>
            </h5>
            <span>My Total Stack Value</span>
         </div>
         <div class="row">Market is <b>open</b>  <small class="coin-pull-right"><i>closes in 3h 35min</i></small>
         </div>
         <div class="row">
            <h6 class="coin-header">Gold <i class="fa fa-caret-right coin-pull-right"></i></h6>
            <hr class="coin-bar" />
            <div class="row">
               <div class="one-third column coin-data">
                  1206.10
                  <br>
                  <small>Bid</small>
               </div>
               <div class="one-third column coin-data">
                  1207.10
                  <br>
                  <small>Ask</small>
               </div>
               <div class="one-third column coin-data">
                  +23.40
                  <br>
                  <small>Change</small>
               </div>
            </div>


            <h6 class="coin-header">Silver <i class="fa fa-caret-right coin-pull-right"></i></h6>
            <hr class="coin-bar" />
            <div class="row">
               <div class="one-third column coin-data">
                  16.10
                  <br>
                  <small>Bid</small>
               </div>
               <div class="one-third column coin-data">
                  16.50
                  <br>
                  <small>Ask</small>
               </div>
               <div class="one-third column coin-data">
                  -.36
                  <br>
                  <small>Change</small>
               </div>
            </div>


            <h6 class="coin-header">Platinum <i class="fa fa-caret-right coin-pull-right"></i></h6>
            <hr class="coin-bar" />
            <div class="row">
               <div class="one-third column coin-data">
                  1206.10
                  <br>
                  <small>Bid</small>
               </div>
               <div class="one-third column coin-data">
                  1207.10
                  <br>
                  <small>Ask</small>
               </div>
               <div class="one-third column coin-data">
                  +23.40
                  <br>
                  <small>Change</small>
               </div>
            </div>
         </div>

      </div>

      <div class="seven columns" style="background-color:lightgrey">
         <div id='chartDiv'></div>
      </div>
   </section>




</body>

</html>
