#box-info {
    margin-bottom: 16px;
    padding: 16px 16px 16px 16px;
}
.bg {
    background: #E5E5E5;
}
#box-info .box-percent{
    font: bold;
    color: grey;
}

#metal-total {
    margin-bottom: 16px;
    padding: 16px 16px 16px 16px;
}
.value-small {
    font-size: 70%;
    font: bold;
    color: grey;
}

.coin-section {
    margin: 16px 16px 16px 16px;
}

.coin-pull-right {
    padding-top: 4px;
    float: right;
}
.coin-bar {
    margin-top: 0;
    margin-bottom: 8px;
}
.coin-header {
    margin-bottom: 0;
}
.coin-data {
    text-align: center;
    margin-left: 0;
}

#coin-spot {
    border: thin solid lightgrey;
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
    margin-bottom: 16px;
}

.no-btm-margin {
    margin-bottom: 0;
}


@media (max-width: 550px) {
    #coin-info {
        margin: 0 0;
    }

    .img-col {
        visibility: hidden;
    }

}

.my-navbar {
    background: #E5E5E5;
}

.navbar-padding {
    padding-top: 14px;
}
